In [1]:
import pandas as pd 
import numpy as np
import math
from datetime import datetime

In [7]:
data = pd.read_csv("fakeEmt.csv")

In [8]:
data.groupby("senderAccountNumber")
data.head()

,senderAccountNumber,senderBank,senderLatitude,senderLongitude,senderPostalCode,senderISP,receiverEmail,receiverBank,timestamp,money_amount,currency
0,34589061912,Bank_A,53.521483,-113.581564,T5R1J2,Cable Cable,Christy_Kesson@hotmail.com.mx,Bank_E,2018-06-01 19:02:54.026-0400,500,CAD
1,34589061912,Bank_A,53.521483,-113.581564,T5R1J2,Virgin Mobile,Mathew_Shorr@wanadoo.co.uk,Bank_E,2018-02-28 23:06:24.520-0500,250,CAD
2,34589061912,Bank_A,53.521483,-113.581564,T5R1J2,Cable Cable,Mathew_Shorr@wanadoo.co.uk,Bank_E,2018-06-27 19:37:33.822-0400,1500,CAD
3,34589061912,Bank_A,53.521483,-113.581564,T5R1J2,Cable Cable,Mathew_Shorr@wanadoo.co.uk,Bank_E,2017-11-29 10:48:14.105-0500,100,CAD
4,34589061912,Bank_A,53.521483,-113.581564,T5R1J2,Cable Cable,Mathew_Shorr@wanadoo.co.uk,Bank_E,2017-11-24 21:15:17.010-0500,50,CAD

In [9]:
data_new = pd.DataFrame()
data_new.head()

Empty DataFrame
Columns: []
Index: []

In [18]:
data.iloc[0][0]

34589061912

In [25]:
def populate_keys(x,h_map):
    if x.iloc[0] not in h_map: 
        h_map[x.iloc[0]] = ""
    return (h_map,x)

Empty DataFrame
Columns: []
Index: []